# ----------------------
# Flask
# ----------------------
flask
Flask-SQLAlchemy
psycopg2
Flask-WTF
flask-Migrate
requests
beautifulsoup4


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn
